# Ignore everything
*

# But do not Ignore these files...
!.gitignore

!src
!src/**

!libs
!libs/**


!*.txt
!*.md
!*.jpg
!*.png
!*.html
!*.css


# MAC HIDDEN FILES
.DS_Store


#Additional Specific files to Ignore

!WebContent
!WebContent/**

!menu
!menu/**

!auxiliary
!auxiliary/**

!logo
!logo/**



