body{
    margin: 0px;
}

.header{
	width: 100%;
    height: 270px;
    overflow: hidden;
    background: #E26D5C;
    position: fixed;
    vertical-align: middle;
}

.content{
	position: fixed;
    height: calc(100% - 250px);
    width: 100%;
    top: 250px;
    bottom: 0px;
    overflow: auto;
    padding: 50px;
    padding-bottom: 20px;
    background: #723D46;
}

.choices{
	margin: auto;
    width: 80%;
    display: table;   
}

.pictures{
    vertical-align: middle;
    display: table-cell;
}

.details{
    vertical-align: top;
    display: table-cell;
}

input[type="text"] {
    width: 25px;
    margin-right: 20px;
    
}